:root {
    --color-main: #ff4900;
    --color-white: #fff;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    background-color: var(--color-main);
    padding: 5rem 0 5rem 0;
}

.content {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    color: var(--color-white);
}

.content__heading {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.content__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__input {
    height: 4rem;
    width: 70%;
    background-color: var(--color-white);
    border: none;
    padding-left: 1rem;
}

.content__input::placeholder {
    color: darkgrey;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: .1rem;
} 

.content__btn {
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    padding: 1.3rem 2rem;
    margin: 1.5rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 1s;
}

.content__btn:hover {
    transform: translateY(-1px);
}

.content__para {
    margin: 1.5rem 0 0 0;
    font-weight: 600;
    font-size: 1.5rem;
    width: 87%;
    text-align: center;
}